html{color:#000;background:#F1F1F1;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,button,input,textarea,p{margin:0;padding:0;}
table,tbody,td,th,thead,tr{border-collapse:collapse;margin:0;padding:0;}
body{font-size:12px;font-family:"微软雅黑","宋体", Arial, Helvetica, sans-serif;}
a{text-decoration:none;color:#666;}
a:hover{color:#f99800;}
ul,ol,li{list-style: none;}
img{border:0;vertical-align:top}
a img{padding:2px;border:1px solid #ddd;}
a:hover img{border:1px solid #f99800;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
.clearfix{clear:both;*zoom:1;}
.hidden{display:none;}
/*头部*/
#header{width:990px;margin:auto;text-align:left;}
#header .top{height:30px;line-height:28px;_padding-top:7px;_line-height:22px;border:1px solid #d8d8d8;color:#666; background:#E5E5E5}
#header .top span.loginSide{float:left;width:190px;padding-left:10px}
#header .top ul{float:right;padding-right:15px;}
#header .top ul input{height:16px;color:#666;}
#header .top ul input.input1{border:1px solid #ccc;width:60px;}
#header .top ul input.input2{border:1px solid #65b2e5;outline:2px solid #7ecafd;*border:1px solid #65b2e5;width:60px;}
#header .top ul input.input3{margin-top:5px;*margin-top:1px}
#header .top ul input.logBtn{width:50px;text-align:center;font-weight:bold;border:1px solid #50a7a7;height:22px;background:#4ba0a0;font-size:12px;color:#fff;cursor:pointer;}
#header .top ul li{float:left;padding-right:7px;width:auto;}
#header .top ul li.last{padding-right:0;}
#header .wrap980{height:70px; padding:5px 0;margin:auto; width:980px;}
#header .logo{width:200px;height:60px;background:url(../img/93shu.png) no-repeat;float:left;margin-top:7px; margin-right:200px}
#header .logo a{text-indent:-20em;display:block;height:60px;overflow:hidden;}
.readNav{color:#666;height:46px;line-height:46px;position:relative;overflow:hidden}
.readNav span a{padding:0 5px;}
.readNav span em{font-style:normal}
.readNav .search{position:absolute;top:11px;*top:0px;padding:0;right:5px;width:350px;}
.bdshares{width:215px;float:right;padding-top:5px;}
.search{width:360px;overflow:hidden;padding-top:12px; float:right}
.search select{float:left;font-size:12px;}
.selectSer{width:68px;height:24px;line-height: 24px;border:1px solid #82bebe;vertical-align: middle;}
.search span.searchBox{float:left;width:280px;height:24px;border:1px solid #82bebe;margin-right:5px;}
.search input{border: none;padding:1px 5px;*padding:2px 5px;background-color:#F3F3F3;width:270px;height:22px;*height:20px;float:left;color:#999;}
.serBtn{background:#82bebe;display:inline-block;width:50px;height:26px;border:none;line-height:25px;color:#fff;font-size:14px;text-align:center;float:left;cursor:pointer;}
.sprompt{padding:20px;font-size:16px;}

.hot{color:#999;text-align:right;font-style:normal;width:575px;overflow:hidden;padding-top:3px;display:block;white-space:nowrap;position: relative;}
.hot a{color:#999;text-decoration:none;margin-right:10px;}
.hot a:hover{color:#F60;}

.nav{width:990px;height:38px;font-weight: bold;font-size: 14px;background: #49A9A9;border-bottom:2px solid #208181;margin:0 auto;}
.nav ul{width: 990px;margin:0;}
.nav li{float: left;height: 38px;text-align: center;line-height: 38px;}
.nav li h2{font-size:16px;}
.nav a{width: 99px;display:inline-block;text-decoration: none;color: white;text-align: center;position: relative;}
.nav a:hover{text-decoration: none;background: #3D9D9D;color: #fff;}
.nav .current{background: #208181;top:-4px;height: 42px;line-height: 46px;_top:0;_margin-top: -4px;_height:42px;_line-height:42px;}
.notice{background: url("../../../../target/classes/img/bulb.gif") no-repeat scroll 10px center #feffe6;border:1px solid #e6d8b9;border-radius:4px;color: #f30;line-height:24px; margin-bottom:10px;padding:10px 10px 10px 45px;font-size:14px;}
/*ad*/
.all_ad,.ad730,.listad{margin:0 auto;text-align:center;}
.all_ad{width:970px;}
.ad730{width:728px;}
.listad{width:988px;height:285px;background:#fff;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;}
#ad_250_4,#ad_250_5{float:left;width:300px;height:250px;}
#ad_250_4{margin:20px 20px 10px 180px;}
#ad_250_5{margin:20px 0px 10px;}
#ad_980{width:988px;margin:0 auto 10px;text-align:center;}
.content_ad{width:990px;padding:10px 0;margin:0 auto;text-align:center;}
#ad_250_1,#ad_250_2,#ad_250_3{float:left;width:300px;margin:10px 0 15px 22px;height:auto;}
#notice{font-size:18px;font-family:"微软雅黑","宋体",serif;color:#69F;}
#ad_250_left{float:left;width:auto;height:auto;clear:left;padding-top:10px;margin:10px;}

#main{width:990px;_width:988px;margin:10px auto;*margin:10px auto 0;}
.w_980{width:990px;margin-top:10px;;_width:988px;}
.w_440{width:490px;_width:488px;}
.w_770{width:772px;_width:770px;}
.w_730{width:752px;_width:750px;}
.w_707{width:707px;_width:705px;height:100%;}
.w_200{width:205px;_width:203px;}
.w_240{width:225px;_width:223px;}
.w_268{width:268px;_width:265px;}
.left{float:left !important}
.right{float:right !important}
.mright{margin-right:10px;}
.mbottom{margin-bottom:10px;}
.mtop{padding-top:15px;}
.top_b{border-top:1px dotted #C0C6CB;}

.tabstit{height:35px;background:#f7f7f7;color: #666;line-height:35px;border:1px solid #d8d8d8;border-top:2px solid #4ba0a0;}
.label,.coverecom h2{display:inline-block;vertical-align:middle;margin-bottom:2px}
.label{height:16px;width: 4px;background: #4ba0a0; margin-left:12px;}
.coverecom em{padding-left:10px;font-weight:bold;font-size:14px;font-style:normal}

.recombook,.recomclass,.topbook,.index_top,.topbooks{border:1px solid #d8d8d8; border-top:none;background: #FFFFFF}
.recombook{height:380px;}
.recombook dl{width:300px;float:left;padding:14px 12px;height:160px;overflow:hidden;position:relative;}
.recombook dl dt{float:left;width:130px;height:170px;margin-right:12px;}
.recombook dl dt img{height:158px;width:128px;}
.recombook dl dd{float:left;width:158px;line-height:21px;color:#777777;}
.recombook dl dd.tit,.recomclass dl dd.tit{border-bottom:1px dashed #ddd;margin-bottom:2px;}
.recombook dl dd.name,.recomclass dl dd.name{color:#999}
.recombook dl dd a,.recomclass dl dd a{color:#333;text-decoration:none;font-size:14px;font-weight:bold;overflow:hidden;display:block;}
.recombook dl dd a:hover,.recomclass dl dd a:hover{color:#FF840C;text-decoration:none}

.recomclass{height:270px;}
.recomclass dl{width:222px;float:left;padding:10px;height:130px;overflow:hidden;position:relative;}
.recomclass dl dt{float:left;width:100px;height:130px;margin-right:12px;}
.recomclass dl dt img{height:125px;width:97px;}
.recomclass dl dd{float:left;width:110px;line-height:21px;color:#777777;}
.recomclass dl dd a{color:#007E8C}
.recomclass ul{height:60px;border-top:1px dashed #ddd; float:left; margin:0 10px}
.recomclass ul li{color:#888;float:left;height:15px;line-height:15px;width:220px;overflow:hidden;display:inline;margin:7px 8px 0 4px;}
.recomclass ul li em{color:#999;text-align:right; float:right;width:auto; font-size:12px; font-weight:normal}
.recomclass ul li a{color:#545454;}
.recomclass ul li a:hover{color:#FF6600}

.toplist{float:left;margin-bottom:10px;}
.toptab{height:30px;line-height:30px;font-size:14px;color:#208181;background:#f7f7f7;border-top: solid 2px #4BA0A0;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;padding-left:10px;}
.toptab span{float:left;font-weight:bold;}
.toptab span.tabRight{float:right;margin-bottom:-1px;_position:relative;}
.toptab span.tabRight span{font-weight:normal;cursor:pointer;float:left;height:30px;line-height:30px;overflow:hidden;padding:0 8px;color:#999}
.toptab span.tabRight span.cur{color:#208181;border-bottom:2px solid #4BA0A0;height:28px}
.topbook{height:550px;*height:570px;}
.topbooks{height:335px;*height:350px;}
.index_toplist{float:left;width:240px;_width:237px;}
.index_top{height:280px;*height:290px; margin-bottom:10px;}
.topbook ul,.index_top ul,.topbooks ul{padding:5px 10px;}
.topbook ul li,.index_top ul li,.topbooks ul li{line-height:27px;*line-height:27px;height:27px;*height:23px;color:#999;float:left;width:100%; font-weight:normal}
.topbook ul li span.num,.index_top ul li span.num,.topbooks ul li span.num{margin-right:5px;font-family:"Verdana";font-style:italic;font-size:10pt;width:22px;float:left}
.topbook ul li span.genre,.index_top ul li span.genre,.topbooks ul li span.genre{width:60px;margin-right:5px;}
.topbook ul li span.hits,.index_top ul li span.hits,.topbooks ul li span.hits{width:60px;float:right;text-align:right;font-family:"Verdana";}

#index_last{width:990px;margin:10px auto;}
.list_center{border:1px solid #D8D8D8;border-top:none;background:#fff}
.list_center .update_title{padding:0 10px;color:#208181;height:32px;line-height:30px;border-top:solid 2px #4BA0A0;border-bottom: solid 1px #D8D8D8;font-size:14px;position: relative;background:#f7f7f7}
.update_title span.update_icon{font-weight: bold;}
.update_title .tabRight{position:absolute;right:10px;top:0;}
.update_list,.bookList,.hotlist{width:100%;background:#fff;}
.update_list ul,.bookList ul{padding-bottom:5px;}
.update_list li,.bookList li{border-bottom:1px dashed #ddd;height:26px;line-height:26px;*height:27px;overflow:hidden;margin:0 10px;vertical-align:middle;}
.update_list span{float:left;list-style:none;margin-right:8px;color:#999;}
.update_list span.recnums_r{width:60px;}
.update_list span.r_spanone{width:120px;}
.update_list span.r_spantwo{width:260px;}
.update_list span.r_spantwo a{color:#999;}
.update_list span.r_spantwo a:hover,.friendLink .linkInfo a:hover{color:#f99800;}
.update_list span.r_spanthree{width:120px;float:right;text-align:right}
.update_list span.r_spanfour{width:45px;}
.update_list span.r_spanfive{width:80px;}
.bookList strong,.hotlist strong{color:#999;float:right;text-align:right;font-weight:normal}

.hotlist ul{padding-bottom:5px;height:380px;*height:382px;}
.hotlist ul li{height:27px;line-height:27px;overflow:hidden;margin:0 10px;vertical-align:middle;}
.hotlist ul li .genre{width:60px;margin-right:5px; color:#999}

#listtop{float:left;margin-bottom:10px;}
.list,.listbox,.listbook,#allList,#newlist,#product{background: #fff;border-top:none;float:left;overflow:hidden;}
.list h2,.listbox h2,.listbook h2,#allList h2,.newrap,#product h2,.listlie h2{height:34px;line-height:34px;font-size:14px;font-weight:bold;color:#208181;background:#f7f7f7;border-top: solid 2px #4BA0A0;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;padding-left:10px;}

.list{width:707px;margin-right:10px;}
.list h2{width:695px;}
.list .recombook dl{width:320px;}
.list .recombook dl dd{width:178px;}
.list .recombook dl dd.contents{text-align:right;margin-top:10px;}
.list .recombook dl dd.contents a{font-size:12px;color: #999;font-weight:normal}
.list .recombook dl dd.contents a:hover{color:#4BA0A0}

.listbox{width:273px;_width:270px;}
.listbox h2{width:261px;}
.listbox .recombook dl,.listbook .recombook dl{height:146px;overflow:hidden;position:relative;border-bottom:1px dashed #d8d8d8;float:left;margin:0 12px;padding:12px 0;}
.listbox .recombook dl{width:242px;}
.listbox .recombook dl dt,.listbook .recombook dl dt{float:left;width:116px;height:144px;}
.listbox .recombook dl dt img,.listbook .recombook dl dt img{width:112px;height:140px;}
.listbox .recombook dl dd{width:113px;}
.listbox li,.listbook li{line-height:23px;height:23px;color:#999;float:left;margin:0 10px;}
.listbox li{width:255px;overflow:hidden;}

.listbook,.toplist{width:323px;_width:320px;}
.listbook h2,.toplist h2{width:311px;}
.listbook .recombook dl{width:292px;}
.listbook .recombook dl dd{width:164px;}
.listbook li{width:292px;overflow:hidden;}

#allList,#newlist{width:990px;margin:0 auto 10px;float:none;background:none;}
#allList h2,.listlie h2{width:978px;}
#allList ul,#product ul{border:1px solid #d8d8d8;background: #fff;border-top:none;height:210px;}
#allList ul li,#product ul li{float:left;margin:10px 16px 0 13px;display:inline;width:134px;height:200px;overflow:hidden;color:#888;position:relative}
#allList ul li h3,#product ul li h3{height:25px;line-height:27px;overflow:hidden;font-weight:normal;text-align:center}
#allList ul li img,#product ul li img{width:128px;height:162px;}

.newrap{width:978px;color:#999;font-size:12px;}
.newrap h2{font-size:14px;font-weight:bold;float:left;margin-right:10px;color:#208181}
.newrap strong{font-size:14px;margin-right:10px;}
#newlist ul{border:1px solid #d8d8d8;background: #fff;border-top:none;height:135px;padding-top:5px;padding-left:5px;font-size:14px;}
#newlist li{float:left;height:32px;overflow:hidden;line-height:32px;width:315px;padding-left:10px;}
#newlist li strong{width:46px;text-align:center;height:32px;padding:8px;color:#999;margin-right:9px;border-right:1px dotted #E7E7E7}

#maininfo{margin:0 auto 10px;*margin:0 auto;}
.tabstit a{font-weight:bold;padding:0 8px;}
.tabstit em{padding-left:10px;font-weight:bold;font-style:normal;font-size:12px;}
#bookinfo{height:381px;*height:383px;background: #fff;border:1px solid #d8d8d8;border-top:none;font-family:"微软雅黑","宋体",Tahoma, Geneva, sans-serif}
#bookinfo .bookleft{width:162px;float:left;padding:10px 25px 0 10px;}
#bookimg{width:164px;background: #F3F3F3;}
#bookimg img{width:164px;height:210px;border:1px solid #d0d4d5;padding:2px;}
#reader{width:162px;height:46px;color: #666;padding:6px 0 2px;border: 1px solid #d9d9d9;border-top: none;background: #f8f8f8;}
#reader a{background:url(../../../../target/classes/img/window.gif) no-repeat 0 -125px;margin:3px 0 0 13px;text-decoration: none;height:36px;width:145px;display: inline-block;}
#reader a:hover{background:url(../../../../target/classes/img/window.gif) no-repeat 0 -167px;cursor:pointer;}
.bookleft ul{width:162px;height:34px;color: #666;padding:0px 0 2px;border:1px solid #d9d9d9;border-top: none;}
.bookleft ul li{width:79px;line-height:37px;text-align:center;float:left;position:relative;}
.bookleft ul .c_li{border-right:1px solid #eee;color:#545454;}

#bookinfo .bookright{width:515px;float:left;position:relative;padding-top:10px;}
.booktitle{height:36px;border-bottom:1px solid #e8e8e8;}
.booktitle h1{font-size:24px;color:#d40909;font-weight:bold;display:inline-block;white-space:nowrap; text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden; float:left}
#author{float:right;padding:5px 0;color:#666;font-size:14px;}
.count{width:515px;color:#999;height:60px;border-bottom:1px solid #e8e8e8; padding-top:4px;}
.count li{float:left;width:125px;line-height:19px;}
.count span{color:#666;width:auto;display:inline-block; margin-right:10px;}
.count span.share{float:left !important; width:80px; clear:both}
#bookintro{height:74px;padding:8px 0;line-height:18px;color:#666;overflow:hidden;word-break:break-all;}
#bookintro p{text-indent: 2em;}
.keywords a,.bookright .new a,#author a{color:#099494;}
.keywords a:hover,.bookright .new a:hover,#author a:hover{text-decoration: underline;}
.bookright .new{border-bottom: 1px dotted #d9d9d9;height:22px;line-height:22px;padding:2px 0px;color:#999; margin-bottom:5px;}
.bookright .new span{display:inline-block;}
.bookright .new span.uptime{overflow:hidden;float:right;}
.bookright .new span.keywords{float:left;width:120px;text-overflow: ellipsis;white-space: nowrap;}
.bookright .new span.new_t{float:left;width:120px;text-overflow: ellipsis;white-space: nowrap;}


.motion{float:left; width:700px;height:35px;padding:6px 15px;}
.motion a {float:left;display:inline;height:30px;text-align:center;width:82px;margin:0 8px;background:#61AFAF;color:#fff;border: 1px solid #099494;cursor:pointer;text-decoration:none;}
.motion a span {display:block;height: 28px;line-height: 28px;width: 80px;border: 1px solid #82BCD8;font-size: 14px;}
.motion a.tgcj {background:#F57300;border:1px solid #EE4A46;}
.motion a.tgcj span {border:1px solid #FC9336;}
.motion a.tgcjb {background: #0AD;border: 1px solid #4A89AF;}
.motion a.tgcjb span {border: 1px solid #82BCD8;}
.motion a:hover,.motion a.tgcj:hover,.motion a.tgcjb:hover{border: 1px solid #E60F52;}
.motion a span:hover,.motion a.tgcj span:hover,.motion a.tgcjb span:hover{background: #e43770;border:1px solid #EA5483;}

#product{width:990px;margin:10px auto;float:none;}
#product h2{width:978px;}
#product ul{border-bottom:none;}
.prodlist{width:988px;border:1px solid #d8d8d8;border-top:none;height:178px;float:left;}
.prodlist ol{border-top:1px dashed #C0C0C0;margin:0 15px;padding-top:5px;float:left;}
.prodlist ol li{float:left;width:235px;overflow:hidden;height:28px;line-height:28px;*height:28px;*line-height:28px;font-size:14px;}
.prodlist ol span{color:#888}
.prodlist ol a{color:#333;margin-left:5px}
.prodlist ol a:hover{color:#f99800;}

#smallcons{position:relative;text-align:center;overflow:hidden;color:#888;background:#FFF;width:988px;padding-bottom:10px; font-size:12px;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8; float:left;}
#smallcons h1{height:60px;overflow:hidden;font:normal 22px/59px \5FAE\8F6F\96C5\9ED1;color:#d40909;text-align:center}
#smallcons span{color:#333;margin-right:20px;}
#putbooks{background:url(../../../../target/classes/img/window.gif) no-repeat -159px -125px ;cursor:pointer;overflow:hidden;width:67px;height:26px;position:absolute;top:55px;right:80px;display:block;}

#readerlist,#readerlists{float:left;border:1px solid #d8d8d8;border-top:none;width:988px;background:#FFF;padding-bottom:10px;}
#readerlist ul,#readerlists ul{float:left;margin:0 20px;color:#949494;}
#readerlist ul h3,#readerlists ul h3{width:940px;line-height:30px;height:30px;color:#208181;font-weight:bold;font-size:15px;border:1px solid #d8d8d8; background-color:#f7f7f7;padding-left:10px;margin-top:5px;}
#readerlist ul li{line-height:30px;width:305px;float:right; text-align:left;overflow:hidden;padding-left:10px;text-overflow:ellipsis; white-space:nowrap; font-size:13px;}
#readerlists ul li{line-height:30px;width:305px;float:left; text-align:left;overflow:hidden;padding-left:10px;text-overflow:ellipsis; white-space:nowrap; font-size:13px;}
#readerlist ul li a,#readerlists ul li a{text-decoration:none;color:#333;}
#readerlist ul li a:visited,#readerlists ul li a:visited{color:#949494;}
#readerlist ul li a:hover,#readerlists ul li a:hover{color:#208181;text-decoration:none}
#readerlist .short_block,#readerlists .short_block{float:left;width:941px;line-height:25px;padding-left:10px;}

.readerts{border:1px solid #ddd;background:#fff;margin:0 auto;width:978px;position:relative;height:60px;padding-left:10px;color:#949494;line-height:20px;}
.readerts h4{color:#f60;padding-top:10px}
.border-line{margin-top:1px;border-top:1px solid #d8d8d8;padding-top:3px;}

#container{margin: 0 auto;width: 990px;text-align: left;zoom: 1;}
.comments_r{width:990px;margin:0 auto;border:1px dotted #C0C6CB;border-bottom: none;border-top:none !important;position: relative;z-index: 10;}
.comments_r .h3{height:53px;border-top: 2px solid #4BA0A0;border-bottom: 1px solid #d8d8d8;background: #f7f7f7;font-size: 12px;color: #999;line-height: 53px;display: block;}
.comments_r .h3 a{color:#999}
.m_12_t{margin-top:12px;*margin-top:2px;position:relative; float:left;}
.select_t{margin-top:2px;margin-left:12px; float:left;}
.select_t_bg{background: url(../../../../target/classes/img/window.gif) no-repeat -159px -88px;width:65px;height:25px;display: inline-block; color: #a6a6a6;line-height:25px;*line-height: 24px;vertical-align:middle;_padding-bottom: 1px;}
.select_t_bg em {margin-left:5px;font-style:normal}
.text_bg,.text_bg2,.text_bg3{width:85px;position:absolute;top:26px;*top:35px;z-index:3;border:1px solid #d3d3d3;background:#fcfcfc;line-height: 33px;}
.text_bg{left:12px;}
.text_bg2{left:111px;}
.text_bg3{left:210px;}
.select_t_r{background: url(../img/window.gif) no-repeat -180px -7px;width:22px;height:25px;display:inline-block;vertical-align: middle; _margin-top:-2px;}
.text_bg li.selected,.text_bg2 li.selected,.text_bg3 li.selected{background:url(../img/draw.gif) no-repeat 70px center;}
.text_bg li{cursor:pointer;_height:23px;_padding:5px 0;padding-left:10px;}
.text_bg2 li{cursor:pointer;_height:23px; _padding:3px 0;padding-left:10px;}
.text_bg3 li{cursor:pointer;_height:23px; _padding:3px 0;padding-left:10px;}
.text_bg li.hover,.text_bg2 li.hover,.text_bg3 li.hover{background: #f3f3f3;}
.square{width: 15px;height: 15px;line-height: 15px;vertical-align: middle;display: inline-block;margin:0 4px 3px -3px; border:1px solid #ccc;}
.square_size{width:23px;height: 23px;line-height: 23px;vertical-align: middle;display: inline-block;margin:0 4px 3px -3px;border: 1px solid #d3d3d3;color: #c2c2c2;text-indent:0;text-align: center;}
.square_size em {font-size:12px;margin-left: -4px;font-family: 'Arial';}
.square_size em.f14 {font-size:14px;margin-left: -5px;}
.square_size em.f16 {font-size:16px;margin-left: -6px;}
.square_size em.f18 {font-size:18px;margin-left: -6px;}
.square_size em.f20 {font-size:20px;margin-left: -7px;}
.square_size em.f22 {font-size:22px;margin-left: -8px;}
.square_size em.f24 {font-size:24px;margin-left: -9px;}
.square_size em.f26 {font-size:26px;margin-left: -10px;}

ul.links {float: right;line-height: 36px; margin-right:10px;margin-top:10px}
ul.links li{vertical-align:middle;display:inline;}

#center{overflow:hidden;border-top:1px dotted #C0C6CB; margin-bottom:5px;}
#center .title {text-align:center;margin-top:20px;position: relative;width:100%;color:#999;padding-bottom:10px;}
#center .title h1{font-size:24px;color: #d40909;font-weight:bold; margin-bottom:10px;}
#center .title span{color:#333; margin:0 5px;}
#content{line-height:28px;word-wrap:break-word;letter-spacing:0.2em;line-height:150%;width:100%;color:#222;font-family:"华文楷体", "方正启体简体", "微软雅黑", "宋体", Arial, serif;font-size:24px;text-align:center;margin:auto; float:left;}
#content p{line-height:150%;margin-bottom:20px;text-align:left;text-indent:2em;}
#content p a{color:#099494;}
#content p a:hover{color:#f99800;}
#content img{margin:0 auto;}
#content .watermark{display:none}
.jump{text-align:center;border-top:1px dotted #C0C6CB;padding:15px 0 5px;width:95%;margin:auto}
.jumptop{padding:5px 0 15px; border:none;}
.jump span{color:#b5b5b5;margin:0 5px;}
.jump a {line-height: 35px;color: #666;font-size: 14px;text-decoration: none;background:url(../img/window.gif) no-repeat -150px -43px;;width:111px;height:35px;display: inline-block;}
.jump a.disabled {background: #f5f5f5 none;opacity:0.8;color: #999;background:url(../img/window.gif) no-repeat -150px -43px;width:111px; height:35px;line-height: 35px;display: inline-block;}
.introhot{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;padding:5px;line-height:25px;text-align:left;font-size:12px;margin:auto auto 5px;;width:95%; text-align:center;border-bottom: 1px dotted #C0C6CB;}

.listlie{border:1px solid #d8d8d8;background:#fff;border-top:none;color:#999;margin-bottom:10px;float:left;height:auto;}
.listlie ul{padding:0px 15px 5px;float:left;}
.listlie ul li{height:32px;overflow:hidden;line-height:32px;width:192px;border-bottom:1px dashed #DCDCDC;list-style:none;font-size:12px;float:left}
.listlie ul li.brunet{background:#f7f7f7;}
.listlie ul li a:visited{color:#f60}

#sitembox,#sitebox{background:#fff;padding-right:9px;}
#sitembox dl,#sitebox dl{margin:0 15px;border-bottom:1px solid #eee;width:740px;float:left; padding:15px 0}
#sitembox dt,#sitebox dt{float:left;position:relative;width:120px;height:155px; margin-right:20px}
#sitembox dd,#sitebox dd{overflow:hidden;*zoom:1;width:590px;line-height:21px;color:#888;}
#sitembox dd h3,#sitebox dd  h3{font-size:14px;font-weight:bold;}
#sitembox dd a,#sitebox dd a{color:#208181}
#sitebox dl{width:450px; height:165px;}
#sitebox dd{width:310px;}
#sitebox dd .uptime{float:right;color:#CCC;font-weight:normal}
#sitembox dd .alias{color:#888;font-weight:normal; margin-left:10px;}
.book_other,.book_des{color:#888;line-height:2.0;margin-top:5px}
.book_other span{color:#323232;padding-right:15px}

.pages{text-align:center;padding:20px 0;color:#888;}
.pages a,.pages strong,.pages span{display:inline-block;vertical-align:middle;padding:0 11px;line-height:26px;margin:0 5px}
.pages a{border:1px solid #ccc;background:#fff;color:#666}
.pages a:hover,.pages strong{color:#fff;background:#4BA0A0;border:1px solid #208181;text-decoration:none}
.pages span{cursor:pointer;border:1px solid #fff}

/*shuku*/
.bookstore{padding: 0 20px 20px;border: 1px solid #e6e6e6;background:#FDFEFC; margin-bottom:10px;}
.bookstore .title{font-size: 26px;color: #666666;font-weight: 100;border-bottom: 2px solid #49A9A9;height: 58px;line-height: 58px;margin: 0px;}
.tag-group{padding:20px 0;}
.pilltags{margin-bottom:20px;}
.pilltags dt{width: 70px;color: #666666;text-align: left;height: 18px;line-height: 18px;}
.pilltags dd{float:left;width: 840px;}
.pilltags dt,.pilltags dd{font-size:13px;float:left;}
.pilltags dd a{display: inline-block; color: #999999; padding: 0 5px; margin-right: 6px; margin-bottom: 6px; height: 20px; line-height: 20px; vertical-align: middle; }
.pilltags dd a:hover{color:#49A9A9;}
.pilltags dd a.cur,.pilltags dd a.cur:hover{background:#49A9A9;color: #fff;border-radius: 3px;}

.booklists {width:990px;border: 1px solid #e6e6e6;background:#FDFEFC;}
.booklists th,.booklists td { font-size: 12px; font-weight: 100; vertical-align: middle; text-align: left; height:36px; line-height:36px;}
.booklists thead tr { background: #eefafa; color: #666666; }
.booklists tbody tr { color: #666666; border-bottom: 1px solid #e9e9e9; }
.booklists thead th:nth-child(1), .booklists tbody td:nth-child(1) { text-align: center; }
.booklists tbody td:nth-child(1) { color: #ff6600; }
.booklists tbody td a { color: #49A9A9; font-size: 14px; }
.booklists tbody td span a { color: #999; font-size: 14px; }
.booklists tbody td a:hover { color: #f60; text-decoration: none; }
.booklists tbody td span { padding-left: 14px; vertical-align: baseline; }
.booklists tr:hover td{ background-color:#f6f6f6;}

.dialog{width:400px;height:auto;background:#fff;position:fixed;font-size:14px;overflow-y:auto;z-index:1000;}
.dialog,#award_win,#intro_win{border:1px solid #CCC;}
.dialog a{text-decoration: none;color:#099494;}
.dialog h3,#award_win h3,#intro_win h3{height:40px;line-height:44px;position: relative;background:#f7f7f7;padding-left:20px;display:block;border-bottom: 1px solid #CCC;color: #999;font-size:16px;}
.dialog .close,#award_win .close,#intro_win .close{position:absolute;top:5px;right:10px;height:16px;width:16px;background:url(../img/window.gif) no-repeat right 0;}
.dialog .wrapper,#award_win .wrapper{margin:10px 0;position:relative;padding:0 15px;}
#message_tip .msgtip{font-size:16px;text-align:left;color:#AD7830;line-height:30px; height:60px;}

#award_win,#intro_win{background:#fff;position:fixed;font-size:12px;overflow-y:auto;z-index:1000;height:auto;}
#award_win{width:500px;}
#intro_win{width:800px;}
#intro_win .wrapper{color:#AD7830; line-height:30px;padding:15px;max-height:500px;overflow:auto;font-size:18px;}
#intro_win .wrapper p{text-indent: 2em;}
#intro_win .input_el{margin:0 100px 15px;text-align:center;}
#intro_win .btn_small{display:inline-block;width:170px;height: 40px;line-height:40px;background:url(../img/m_bg.gif) no-repeat 0 -207px;color:#888;font-size:20px;cursor: pointer;}

#award_win ul,.dialog ul{color:#999;font-size:16px;}
#award_win ul li,.dialog ul li{ margin-bottom:10px;}
#award_win ul li input,.dialog ul li input{display:inline-block;margin:-3px 5px 0;vertical-align: middle; height:25px; line-height:25px;}
#award_win ul li .area{width:330px;height:90px; padding:5px;overflow:auto;resize:none;border:1px solid #CCCCCC;*width:310px; *margin-left:-20px;}
#award_win .input_el{margin:20px 50px;text-align:center;}
.dialog .input_el{margin:20px 10px;text-align:center;}
#award_win .btn_small,.dialog .btn_small{display: inline-block;margin-left:20px;border: none;text-decoration:none;width:137px;height:40px;line-height:40px;text-align: center;background:url(../../../../target/classes/img/window.gif) no-repeat 0 -40px;color:#888;font-size:18px;cursor: pointer;font-family:"微软雅黑","宋体", Arial;}

.htitle {font-size: 14px;line-height: 31px;text-indent: 15px;background-color: #f7f7f7;border-bottom: 1px solid #e6e6e6;color: #208181;font-weight:bold;display:block;}
li.desc{padding:15px;}
ul.list{width:990px;margin-bottom:12px;margin-bottom:2px\9;border-bottom: 1px solid #e6e6e6;}
ul.list li p{line-height: 25px; color:#333}
#mylink {height: 31px;line-height: 31px;background: #F6F6F6;border:1px solid #ccc;text-align:center}
#mylink a {margin: 0 5px;}
#copyright {line-height: 20px;padding:10px 0 50px 0;text-align:center; color:#666}

#footer{width:990px;margin:0 auto;overflow:hidden;}
.friendLink{float:left;border:1px solid #DEDEDE;color:#666;font-size:12px; margin-bottom:10px;}
.friendLink .linkMenu{background:#E5E5E5;height:24px;line-height:24px;padding: 0 13px;font-size: 14px;font-weight:bold;display:inline-block;width: 962px;}
.friendLink .linkInfo{padding: 5px 10px;height:40px;}
.friendLink .linkInfo a{display:inline-block;color: #666;margin:0 5px;line-height:20px;height:20px;}
.copyright{line-height:20px;text-align:center !important;color:#666;}

/*搜索框111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111样式  */
#word {
	position: absolute;
	z-index: 99;
	width: 145px;
	height: auto;
	background-color: white;
	border: black solid 1px;
	display: none;
}

.click_work {
	padding-bottom: 8px;
	font-weight: lighter;
	font-size: 13px;
	cursor: pointer; /*鼠标放上变成小手*/
}

.click_work:hover {
	color: orange;
}

.error {
	color: gray;
	cursor: pointer; /*鼠标放上变成小手*/
}